body {
   background-color: #000;
   overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    header {
      padding: 20px 35px;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position:sticky;
      top: 0;
      background-image: url('/assets/images/sl-fine-us.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
    }

.hero-find-us {
  padding: 300px;
  background-image: url('/assets/images/sl-fine-us.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
}



.button {
    margin: 10px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.audio-main {
  background-color: #2c9fa8;
  border-radius: 10px;
    position: absolute;
    left: 3%;
    top: 30%;
    border: 5px solid darkcyan;
    padding: 10px;
}

.audio-btns {
    margin-top: 30px;
    text-align: center;
}

.hide {
    display: none;
}

.audio-players {
  margin-top: 20px;
  margin-left: 80px;
}

.recording-active {
  text-align: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  animation: blinker 1s linear infinite;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.voice-txt {
  font-size: 25px;
  color: white;
  text-align: center;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover{
  color: #f57de3;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #f57de3;
}


footer {
  background: black;
  width: 100%;
  padding: 20px 35px;
  text-align: center;
}
footer h2 {
  display: inline;
  color: white;
  font-size: 30px;
  margin: 0;
}
footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: white;
  margin: 10px 10px 10px 10px;
}





@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: black;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

}