* {
    font-family: 'Poppins', sans-serif;
}

.hero-find-us {
    padding: 300px;
    background-image: url('/assets/images/sl-fine-us.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
  }
  

  .find-us-box {
    position: absolute;
    left: 1%;
    top: 25%;
    padding: 30px;
    width: 40vw;
    text-align: center;
  }

  .title {
      font-size: 50px;
      color: white;
  }

  .icon {
      justify-content: center;
      color: white;
      font-size: 50px;
  }
  .icon:hover {
      font-size: 55px;
      color: #f57de3;
      transition: 0.2s;
  }