* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/* apply styles to <header> */
header {
  padding: 6px 20px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  background-image: url('/assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  }

  header img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    opacity: 1;
    }
  
  
  header a {
    color: white;
  }

  header nav {
    display: inline;
    float: right; 
    margin: 35px 0;
  }

  header nav ul li {
    display: inline;
    
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
  }



/* Hero Section */

.hero {
  padding: 300px;
  background-image: url('/assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
}


.hero-text {
  flex: 1;
  background-color: black;
  padding: 30px;
}


/*body */

body {
    color: white;
    background-color: #2F2E2E;
    font-family: Helvetica, Arial, sans-serif;
  }

  footer {
    background: black;
    width: 100%;
    padding: 50px 35px;
    text-align: center;
  }
  footer h2 {
    display: inline;
    color: white;
    font-size: 30px;
    margin: 0;
  }
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  footer a {
    color: white;
    margin: 10px 10px 10px 10px;
  }