/* I'm a CSS comment! */
* {
    margin: 0;
    padding: 0;
  }
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #6495ED;
  }

  header a {
    text-decoration: none;
    color: black;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    display: inline;
  }
  
  header a {
    color: black;
  }

  header nav {
    float: right;
    margin: 35px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
  }

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
  }


  .lighter-font {font-weight: lighter}
  .font-courier {font-family: 'Courier New', Courier, monospace;}
